<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
    <bean id="d" class="dao.DaoimplV2"></bean>
    <bean id="metier" class="metier.MetierImpl">
        <property name="dao" ref="d"></property>
    </bean>
</beans>