<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Active le scan des composants dans les packages "dao" et "metier" -->
    <context:component-scan base-package="dao, metier" />
</beans>

<!--
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
            "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
    <beans>
        <bean id="d" class="dao.DaoimplV2"></bean>
        <bean id="metier" class="metier.MetierImpl">
            <property name="dao" ref="d"></property>
        </bean>
    </beans>
-->
